.page {
  min-width: 320px;
  max-width: 880px;
  font-family: 'Inter', 'Arial', sans-serif;
}

@media (max-width: 960px) {
  .page {
    max-width: 581px;
  }
}

@media (max-width: 660px) {
  .page {
    width: 88.125%;
  }
}
