.popup__btn-save {
  display: block;
  margin-top: 48px;
  padding: 14px 124px 18px 125px;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #000;
  border-radius: 2px;
  background-color: #000;
  font-size: 18px;
  line-height: 1.21;
  font-weight: normal;
  color: #fff;
  cursor: pointer;
  opacity: 1;
  transition: opacity .2s ease-in-out;
}

.popup__btn-save:focus {
  outline: none;
}

.popup__btn-save:hover {
  opacity: .8;
}

@media (max-width: 660px) {
  .popup__btn-save {
    margin-top: 45px;
    padding: 14px 82px;
    font-size: 14px;
  }
}
