.elements__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 282px);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 20px;
  justify-content: space-between;
  list-style-type: none;
}
